@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  border-radius: 1.25rem;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  pre {
    font-size: 16px;
    width: 1000px;
  }
}

pre [data-line] {
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 56px;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

[data-theme='dark'] button {
  color: #fff;
  background: #3436359a;
}

[data-theme='dark'] .footer {
  color: #fff;
  background: #3436359a;
}

[data-theme="light"] pre,
[data-theme="light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
 
[data-theme="dark"] pre,
[data-theme="dark"] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}
